#extends pervurs.server.www.templates.site

#block body

<div class="form">
<form action="$req.uri" method="POST">
    <div class="row textfields">
        <div class="column">
            <label for="email">Email</label>
            <input name="email" type="text" />
        </div>
    
        <div class="column">
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>
    </div>
    
    <div class="row"><div class="column">
    <input type="submit" />
    </div></div>
    
</form>
</div>

#end block body